/* Definir a fonte padrão e o tamanho para o corpo do documento */
body {
    font-family: Arial, sans-serif; /* Usando Arial como fonte padrão */
    font-size: 16px; /* Tamanho da fonte definido como 16px */
    color: #555; /* Cor do texto em tom suave */
    background-color: #f8f8f8; /* Cor de fundo suave para o site */
}

/* Estilos para o cabeçalho */
header {
    background-color: #FADADD; /* Rosa pastel */
    color: #404040;
    padding: 8px 0;
    text-align: center;
}

/* Estilização da barra de navegação */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Estilos para cada seção */
section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
}

#home {
    background-color: #FFDAB9; /* Pêssego pastel */
}

/* Cor de fundo para a página inicial */
body.home {
    background-color: #f0e68c; /* Um tom de cáqui claro */
}

/* Cor de fundo para a página Sobre */
body.sobre {
    background-color: #e0ffff; /* Cor azul claro (Ciano claro) */
}

/* Cor de fundo para a página Textos */
body.textos {
    background-color: #ffe4e1; /* Cor rosa claro (Misty Rose) */
}

/* Cor de fundo para a página Contato */
body.contato {
    background-color: #f0fff0; /* Cor verde claro (Honeydew) */
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #EEDD82; /* Ouro claro pastel */
    color: #404040;
}

/* Botão de formulário estilizado */
button {
    background-color: #FFB6C1; /* Rosa claro */
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: #FF69B4; /* Rosa mais forte para hover */
}